@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));
html {
  scroll-behavior: smooth;
}

.card-2 {
  box-shadow:
    0 0 0 1px #e5e7eb,
    0 2px 3px rgba(3, 7, 18, 0.2);
}

body {
  background-color: #fafffd;
  color: #010203;
  overflow: visible;
}

.btn {
  background: #c8ff00;
  box-shadow:
    0 3px 6px rgba(0, 0, 0, 0.2),
    inset 0 0 6px 2px rgba(255, 255, 255, 0.24),
    0 0 0 1px #c8ff00,
    inset 0 0 0 1px rgba(255, 255, 255, 0.4);
}
@theme {
  --font-inter: var(--font-inter);
  --font-geist: var(--font-geist);
}

.font-primary {
  font-family: var(--font-geist);
  letter-spacing: -3%;
}
::-webkit-scrollbar {
  width: 0px;
}
