@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));
html {
  scroll-behavior: smooth;
}

body {
  background-color: #fafffd;
  color: #010203;
  overflow: visible;
}

@theme {
  --font-satoshi: var(--font-satoshi);
  --font-sans: var(--font-grotesk);
}

.font-primary {
  font-family: var(--font-sans);
  letter-spacing: -2%;
}
::-webkit-scrollbar {
  width: 0px;
}
