@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));
html {
    scroll-behavior: smooth;
}

body {
    background-color: #fefffe;
    color: #010203;
    overflow: visible;
}

@theme {
    --font-satoshi: var(--font-satoshi);
    --font-grotesk: var(--font-grotesk);
}
